@import url("https://fonts.googleapis.com/css2?family=Andada+Pro&family=Dancing+Script&family=Ephesis&family=Fira+Sans:wght@300&family=Noto+Sans+Mono:wght@300&family=Recursive:wght@300&display=swap");

:root {
  font-size: 16px;
}

* {
  margin: 0rem;
  padding: 0rem;
  transition: all;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

body {
  background: linear-gradient(
      rgba(193, 193, 240, 0.95),
      rgba(200, 209, 236, 0.95)
    ),
    url("../../public/assets/play.gif");
}

a {
  text-decoration: none;
  color: aliceblue;
}

@media (min-width: 1250px) {
  .container {
    background-size: 100%;
  }
  nav ul {
    justify-content: flex-start;
  }
}

@media (max-width: 1200px) {
  #gif2 .sPname {
    transform: scale(0);
  }
}

@media (max-width: 900px) {
  span.sPname {
    transform: scale(0);
  }
}

@media (max-width: 650px) {
  div.container {
    background-image: url("../../public/assets/bg2.jpg");
  }
}

@media (max-width: 600px) {
  .songItem .jSName,
  .timeStamp {
    font-family: "Dancing Script", cursive;
    font-size: 0.8rem;
  }
  nav ul {
    justify-content: space-around;
  }
}

@media (max-width: 385px) {
  #loop {
    margin-left: 10px;
  }
  .iconRow {
    padding-left: 3rem;
  }
  nav ul li {
    padding: 0 4px;
    margin: 0 2px;
  }
}
@media (max-width: 500px) {
  .gifs {
    transform: scale(0);
  }
}
@media (min-width: 386px) {
  nav ul li {
    padding: 0 12px;
    margin: 0 16px;
  }
}