@import url("https://fonts.googleapis.com/css2?family=Andada+Pro&family=Dancing+Script&family=Ephesis&family=Fira+Sans:wght@300&family=Noto+Sans+Mono:wght@300&family=Recursive:wght@300&display=swap");

*::before,
*,
*::after{
  margin: 0;
  padding: 0;
  transition: var(--transition);
}

html {
  font-size: 16px;

  /* Variables */
  --gradient-1: #c1c1f0fe;
  --gradient-2: #c8d1ecfe;
  --bg-gradient: linear-gradient(var(--gradient-1), var(--gradient-2));
  --bg-image: url("../../public/assets/play.gif");

  --container-bg: url("../../public/assets/bg.jpg");
  --transition: all 300ms 0ms ease-in-out;

  --text-color: #d9dffc;
  --nav-text: #f1f1f1;
  --header: #e7b4b4;
  --bg-container: #00000c;
  --bg-nav: #220202;
  --bg-nav-item-hover: #3f1111;
  --song-name: #0e1079;
  --bg-song-item: #ffddbd;
  --bg-bottom: #031101;
  --bg-btn-hover: #8b7ad5;
}

body {
  background: var(--bg-gradient), var(--bg-image);
}

a {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li{
  list-style: none;
  list-style-type: none;
}

/* The Main Navigation Bar ------------------------------ */

nav {
  font-family: "Noto Sans Mono", monospace;
  font-weight: bold;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.brand img {
  width: 3rem;
  padding: 0 0.5rem;
}

.brand span {
  font-family: "Andada Pro", sans-serif;
}

.nav-list {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: var(--bg-nav);
  color: var(--nav-text);
  justify-content: center;
}

.btn {
  display: flex;
  border-radius: 0;
}

.btn:hover {
  border-radius: 1rem;
  background-color: var(--bg-nav-item-hover);
  cursor: pointer;
}

/* The Main Body of the Page + Songs List -------------------------------- */

.container {
  min-height: 65vh;
  background-color: var(--bg-container);
  color: var(--header);
  font-family: "Recursive", sans-serif;
  display: flex;
  margin: 0.5rem auto;
  width: 70vw;
  border-radius: 3rem;
  padding: 0.5rem;
  background-image: var(--container-bg);
}

.songsList {
  margin: 0.75rem;
}

.songContainer {
  margin-top: 1.25rem;
}

.songItem {
  height: 6vh;
  display: flex;
  background-color: var(--bg-song-item);
  color: var(--song-name);
  justify-content: space-between;
  align-items: center;
  font-size: 2vh;
  border-radius: 1.25rem;
  margin: 0.5rem 0;
  font-family: "Ephesis", cursive;
  font-weight: bolder;
}

.img {
  width: 8vh;
  border-radius: 1rem;
  margin: 0 0.25rem;
}

.img:hover {
  border-radius: 0.5rem;
}

.jSName {
  font-size: 3vh;
}

.timeStamp {
  margin: 0 0.75rem;
  display: flex;
  align-items: center;
}

i.songItemPlay {
  margin-left: 0.25rem;
  cursor: pointer;
}

i.songItemPlay:hover {
  color: black;
  transform: scale(1.2);
}

/* The Bottom Bar + Audio Controls ---------------------------------- */
.Bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 15vh;
  background-color: var(--bg-bottom);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mainProgressBar {
  width: 80vw;
  transform: translateY(0.5rem);
}

.iconRow {
  display: flex;
  flex-direction: row;
  padding-left: 7vw;
}

.icons {
  margin: 0.5rem 0;
  padding: 0 2px;
  display: flex;
  color: var(--bg-song-item);
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.icons i {
  cursor: pointer;
  padding: 0 0.125rem;
}

.btns:hover {
  color: var(--bg-btn-hover);
}

#vol {
  transform: translateY(0.78rem);
  padding-left: 0.25rem;
  color: var(--bg-song-item);
}

#vol:hover {
  color: var(--bg-btn-hover);
  transform: translateY(0);
}

#volumeBar {
  transform: scale(0);
  opacity: 0;
  position: relative;
  margin-top: 0.5rem;
  margin-left: 2px;
  width: 5rem;
  display: flex;
  align-items: center;
}

#vol:hover > #volumeBar {
  opacity: 1;
  transform: scale(1);
  transition-duration: 200ms;
  transform-origin: left;
}

#loop {
  margin-left: 6vw;
}

#checkMark {
  transform: translateX(-2rem);
  color: #0f0;
  z-index: -1;
  opacity: 0;
  transition: 50ms;
}

#gif1 {
  left: 10vw;
}

#gif2 {
  right: 10vw;
}

.gifs {
  position: absolute;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gifPlay {
  padding-top: 0.25rem;
  border-radius: 0.5rem;
  width: 2rem;
}

span.sPname {
  justify-content: center;
  align-items: center;
  transform: translateY(3px);
  font-family: "Andada Pro", sans-serif;
  padding: 0 0.25rem;
}

/* =========================== All Media screen and Queries =========================== */

@media screen and (min-width: 1250px) {
  .container {
    background-size: 100%;
  }
  .nav-list {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1200px) {
  #gif2 .sPname {
    transform: scale(0);
  }
}

@media screen and (max-width: 900px) {
  span.sPname {
    transform: scale(0);
  }
}

@media screen and (max-width: 650px) {
  div.container {
    background-image: url("../../public/assets/bg2.jpg");
  }
}

@media screen and (max-width: 600px) {
  .songItem .jSName,
  .timeStamp {
    font-family: "Dancing Script", cursive;
    font-size: 0.8rem;
  }
  .nav-list {
    justify-content: space-around;
  }
}

@media screen and (max-width: 500px) {
  .gifs {
    transform: scale(0);
  }
}

@media screen and (max-width: 385px) {
  #loop {
    margin-left: 10px;
  }
  .iconRow {
    padding-left: 3rem;
  }
  .nav-items {
    padding: 0 4px;
    margin: 0 2px;
  }
}

@media screen and (min-width: 385px) {
  .nav-items {
    padding: 0 0.75rem;
    margin: 0 1rem;
  }
}
